.container-candidates
  margin: 3% 20%

.candidatesList li
  cursor: pointer
  margin: .5em
  padding: .3em 0

.candidatesList a
  color: black

.candidatesList span
  padding: 5px 10px
  background-color: #DDD
