// Breakpoints
$size-xs: 459px;
$size-sm: 768px;
// $size-smd: 960px;
$size-md: 1024px;
$size-lg: 1280px;
$size-xl: 1440px;

// Fonts
$font-family: 'Roboto', Arial, sans-serif;
$font-family-roboto: 'Roboto';
$font-size-card-heading: 20px;
$font-size-text: 15px;
$font-size-text-secondary: 17px;
$font-size-submit-button: 20px;

// COLORS
$color-black: hsla(0, 0%, 0%, 0);
$opacity-black-12: hsla(0, 0%, 0%, 0.12);
$opacity-black-16: hsla(0, 0%, 0%, 0.16);
$opacity-black-23: hsla(0, 0%, 0%, 0.23);
$opacity-black-24: hsla(0, 0%, 0%, 0.24);

$color-white: hsl(0, 0%, 100%);

$color-light-gray-96: hsl(0, 0%, 96%);
$color-light-gray-91: hsl(0, 0%, 91%);
$color-light-gray-80: hsl(0, 0%, 80%);
$color-light-gray: hsl(0, 0%, 87%);
$color-light-gray-67: hsl(0, 0%, 67%);
$color-dark-gray: hsl(0, 0%, 33%);
$color-lightest-pastel-blue: hsl(180, 100%, 97%);
$color-soft-rose: hsl(201, 88%, 90%);
$color-turquoise-02: hsl(172, 86%, 46%);
$color-bright-teal: hsl(207, 90%, 54%);
$color-jade-green: hsl(137, 41%, 47%);
$color-orchid: hsl(347, 71%, 50%);
$color-rich-purple: hsl(336, 100%, 50%);
$color-sunburst: hsl(271, 49%, 51%);
$color-malachite: hsl(27, 70%, 54%);
$color-bright-blue-green: hsl(203, 79%, 43%);

// DESCRIPTIVE COLORS - compose colors
// BACKGROUND COLORS
$color-primary-bg: $color-turquoise-02;
$color-secondary-bg: $color-soft-rose;
$color-input-bg: $color-light-gray-91;
$color-bg-input-search-scrolled: $color-light-gray-80;
$color-bg-input-search: $color-black;
$color-submit-button-bg: $color-bright-teal;

// TEXT COLORS
$color-heading: $color-bright-teal;
$color-subheading: $color-lightest-pastel-blue;
// $color-text: ;
$color-card-heading: $color-bright-blue-green;
$color-input-text: $color-black;
$color-text-input-search: $color-white;
$color-submit-button-text: $color-white;

// SHADOW COLORS
$color-text-shadow: $color-black;
$shadow-gradient-start: $opacity-black-12;
$shadow-gradient-start-16: $opacity-black-16;
$shadow-gradient-end-23: $opacity-black-23;
$shadow-gradient-end: $opacity-black-24;

// BORDER BOX COLORS
$color-border-field: $color-light-gray-91;

// NavBar Colors
$color-navbar-scrolled-bg: $color-white;
$color-navbar-link: $color-white;
$color-navbar-link-scrolled: $color-black;
$color-navbar-highlight: $color-light-gray;
$color-navbar-active: $color-bright-teal;

// About Colors
// $color-subheading-border-animation: $color-heading;

// Project Colors
$color-item-bg: $color-white;
$color-item-border: $color-bright-blue-green;
$color-item-border-1: $color-jade-green;
$color-item-border-2: $color-orchid;
$color-item-border-3: $color-black;
$color-item-border-4: $color-sunburst;

// Contact Colors
$color-wave-bg: $color-rich-purple;

// Footer Colors
$color-footer-bg: $color-light-gray-96;
$color-footer-text: $color-dark-gray;

// SearchProject
$color-bg-button-search: $color-white;
$color-bg-button-search-scrolled: $color-black;
$color-bg-button-search-hover: $color-light-gray-67;
$color-bg-button-search-scrolled-hover: $color-dark-gray;
