// Breakpoints
$size-xs: 459px;
$size-sm: 768px;
// $size-smd: 960px;
$size-md: 1024px;
$size-lg: 1280px;
$size-xl: 1440px;

// Fonts
$font-family: 'Roboto', Arial, sans-serif;
$font-family-roboto: 'Roboto';
$font-size-card-heading: 20px;
$font-size-text: 15px;
$font-size-text-secondary: 17px;
$font-size-submit-button: 20px;

// COLORS
$color-black: hsl(0, 0%, 0%);
$color-black-opacity-16: hsla(0, 0%, 0%, 0.16);
$color-black-opacity-23: hsla(0, 0%, 0%, 0.23);
$color-dark-gray: hsl(0, 0%, 33%);
$color-white: hsl(0, 0%, 100%);
$color-light-gray: hsl(0, 0%, 85%);
$color-soft-rose: hsl(201, 88%, 90%);
$color-turquoise-02: hsl(172, 86%, 46%);
$color-bright-teal: hsl(207, 90%, 54%);
$color-jade-green: hsl(137, 41%, 47%);
$color-orchid: hsl(347, 71%, 50%);
$color-rich-purple: hsl(336, 100%, 50%);
$color-sunburst: hsl(271, 49%, 51%);
$color-malachite: hsl(27, 70%, 54%);
$color-bright-blue-green: hsl(203, 79%, 43%);

// DESCRIPTIVE COLORS - compose colors
// BACKGROUND COLORS
$color-bg-primary: $color-turquoise-02;
$color-bg-secondary: $color-soft-rose;
$color-bg-input: $color-white;
$color-bg-input-search: $color-black;
$color-bg-input-search-scrolled: $color-white;
$color-bg-button-submit: $color-bright-teal;

// TEXT COLORS
$color-heading: $color-bright-teal;
$color-subheading: $color-white;
// $color-text: ;
$color-heading-card: $color-bright-blue-green;
$color-text-input: $color-black;
$color-text-input-search: $color-white;
$color-text-button-submit: $color-white;

// SHADOW COLORS
$color-text-shadow: $color-black;
$shadow-gradient-start: $color-black-opacity-16;
$shadow-gradient-end: $color-black-opacity-23;

// BORDER BOX COLORS
$color-border-field: $color-white;

// NavBar Colors
$color-navbar-scrolled-bg: $color-white;
$color-navbar-link: $color-white;
$color-navbar-link-scrolled: $color-black;
$color-navbar-highlight: $color-light-gray;
$color-navbar-active: $color-bright-teal;

// About Colors
// $color-subheading-border-animation: $color-heading;

// Project Colors
$color-item-bg: $color-white;
$color-item-border: $color-bright-blue-green;
$color-item-border-1: $color-jade-green;
$color-item-border-2: $color-orchid;
$color-item-border-3: $color-black;
$color-item-border-4: $color-sunburst;

// Contact Colors
$color-wave-bg: $color-rich-purple;

// Footer Colors
$color-footer-bg: $color-white;
$color-footer-text: $color-black;

// SearchProject
$color-bg-button-search: $color-white;
$color-bg-button-search-scrolled: $color-black;
$color-bg-button-search-hover: $color-light-gray;
$color-bg-button-search-scrolled-hover: $color-dark-gray;
