@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.navbar-transition {
  transition: all 150ms linear;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;

  margin-top: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  // @include respond-down($size-sm) {
  //   flex-direction: column;
  //   align-items: center;
  // }
}

.navbar.scrolled {
  margin-top: 0;
  background-color: $navbar-scrolled-bg-color;
  box-shadow:
    0 1px 3px $shadow-bg-gradient-start, 0 1px 2px $shadow-bg-gradient-end;
}

.nav-link {
  font-size: 17px;
  padding: 12px 16px;
  text-decoration: none;
  color: $navbar-link-color;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.nav-link.scrolled {
  color: $navbar-link-scrolled-color;
}

.nav-link:hover {
  border-bottom: 2px solid $navbar-highlight-color;
}

.nav-link.scrolled:hover {
  border-bottom: none;
  background-color: $navbar-highlight-color;
}

.nav-link.active {
  color: $navbar-active-color;
  border-bottom: 2px solid $navbar-active-color;
}

.nav-link.scrolled.active {
  color: $navbar-link-color;
  background-color: $navbar-active-color;
  border-bottom: none;
}
